<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNcmdX9ssJrsIJ6YMUnbayrRBpgOf49t8</string>
	<key>GCM_SENDER_ID</key>
	<string>31761661271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appleStore</string>
	<key>PROJECT_ID</key>
	<string>apple-store-18442</string>
	<key>STORAGE_BUCKET</key>
	<string>apple-store-18442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31761661271:ios:f7f5e84b9888628f845212</string>
</dict>
</plist>